
@{
    ViewData["Title"] = "Weather Page";
}
<h1>Belfast Weather Forecast</h1>

<div class="jumbotron">
    <div>
        <h2>Access Weather Forecast</h2>
        <button class="btn btn-info" asp-area="Identity" asp-page="Login">Click Here</button>
    </div>
</div>