
@{
    ViewData["Title"] = "Weather Page";
}
<h1>Belfast Weather Forecast</h1>

<div class="jumbotron">
    <div>
        <h2>Access Weather Forecast</h2>
        <a class="btn btn-info" asp-controller="Home" asp-action="Reg">Click Here</a>
      
    </div>
</div>