@model IEnumerable<WeatherForecast.Models.Weather>
@{
    ViewData["Title"] = "Weather Page";

}

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <table class="table table-responsive" style="width:900px">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Weather State
                </th>
                <th>
                    Weather State Abbr
                </th>
                <th>
                    Icon
                </th>
            </tr>


            @foreach (var item in Model)
            {
                @for (int Applicable_date = 0; Applicable_date < 5; Applicable_date++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem=> item.Applicable_date)
                           
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Weather_state_name)
                          
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Weather_state_abbr)
                          
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Icon)
                          
                        </td>
                    </tr>
                }
            }

            </table>
    </div>
</div> 